body{
  margin: 0;
  padding: 0;
}

.places{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 5rem;
  background-color: rgb(223, 249, 211);
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 500px;
  margin: 10px auto;
  background-color: rgb(223, 249, 211);
}

h1{
  letter-spacing: 2px;
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 10px;
  font-family: Lobster;
}

.number,
.city{
  font-size: 30px;
  font-weight: 800;
  color: rgb(246, 84, 111); 
}

h2{
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #003b58;
  font-family: Lobster;
}

.btn{
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: #fff;
  color: #0071c2;
  align-self: center;
  padding: 10px;
  margin-bottom: 30px;;
}

button{
  background: rgb(223, 249, 211);
  border: none;
  font-size: 18px;
  color: #0071c2;
  font-family: Lobster;
}

button:hover{
  color: #6dbdf6;
}

@media all and (max-width:500px){
  img{
    width: 300px;
  }
}

